*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

.gradle
/app/.externalNativeBuild
/app/class_files.txt
bin
tmp
gen
# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class



#################
## #IntelliJ IDEA
#################
.idea
*.iml
*.ipr
*.iws
out

